@model ProjektSpoleczenstwo.Models.IndexViewModel
@{
    ViewBag.Title = "Panel administracyjny";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Zarządzanie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Utwórz pracownika</dt>
        <dd>[@Html.ActionLink("Utwórz","CreateEmployee", "Manage")]</dd>
        <dt>Utwórz oddział</dt>
        <dd>[@Html.ActionLink("Utwórz", "CreateDepartment", "Manage")]</dd>
        <dt>Utwórz stanowisko</dt>
        <dd>[@Html.ActionLink("Utwórz", "CreateJob", "Manage")]</dd>
        <dt>Analiza aktywności</dt>
        <dd>[@Html.ActionLink("Analiza", "Activity", "Manage")]</dd>
        <dt>Dodaj administratora</dt>
        <dd>[@Html.ActionLink("Zarejestruj", "Register", "Account")]</dd>
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
    </dl>
</div>
