body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*.input-validation-error{
    border:1px solid red;
}
.field-validation-error{
    color:orange;
}
.validation-summary-errors{
    border:1px solid black;
    bolor:blue;
}*/

.employeeIn {
    background-color: #dcffdc;
}
.employeeOut {
    background-color: #ffd6d6;
}
.employeeIn:hover {
    background-color: #a1ffa1 !important;
    transition: all 0.5s;
}
.employeeOut:hover {
    background-color: #ffb0b0 !important;
    transition: all 0.5s;
}
.assignCard{
    cursor:pointer;
}