<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9ffc5850-15d6-4b98-a28b-d4828792da97/resourcegroups/cloud-shell-storage-westeurope/providers/Microsoft.Web/sites/SystemRFID</ResourceId>
    <ResourceGroup>cloud-shell-storage-westeurope</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://systemrfid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>systemrfid.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SystemRFID</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SystemRFID</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:systemrfiddbserver.database.windows.net,1433;Initial Catalog=SystemRFID_projekt_db;User ID=kamil.strzepek@systemrfiddbserver;Password=zaq1@WSX" Name="Data Source=tcp:systemrfiddbserver.database.windows.net,1433;Initial Catalog=SystemRFID_projekt_db;User Id=kamil.strzepek@systemrfiddbserver;Password=zaq1@WSX" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ProjektSpoleczenstwo.Models.ApplicationDbContext, ProjektSpoleczenstwo" MigrationConfiguration="ProjektSpoleczenstwo.Migrations.Configuration, ProjektSpoleczenstwo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:systemrfiddbserver.database.windows.net,1433;Initial Catalog=SystemRFID_projekt_db;User Id=kamil.strzepek@systemrfiddbserver;Password=zaq1@WSX</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>